labs/lab2/schema.xsd

<?xml version = "1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.com/Club" xmlns="http://www.example.com/Club">
    <xs:element name="schema">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="beers">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element name="beer" type="BeerType" minOccurs="1" maxOccurs="unbounded">
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="darkBeerIngridientsType">
        <xs:sequence>
            <xs:element name = "water">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "malt">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="100"/>
                        <xs:maxInclusive value="200"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "flour">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="50"/>
                        <xs:maxInclusive value="150"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "hop">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="10"/>
                        <xs:maxInclusive value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "yeast">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="5"/>
                        <xs:maxInclusive value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "chars" type = "darkCharsType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="lightBeerIngridientsType">
        <xs:sequence>
            <xs:element name = "water">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "malt">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="250"/>
                        <xs:maxInclusive value="500"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "hop">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="20"/>
                        <xs:maxInclusive value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "yeast">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="7"/>
                        <xs:maxInclusive value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "sugar">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="7"/>
                        <xs:maxInclusive value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "chars" type = "lightCharsType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="campBeerIngridientsType">
        <xs:sequence>
            <xs:element name = "water">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "malt">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="100"/>
                        <xs:maxInclusive value="500"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "hop">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="20"/>
                        <xs:maxInclusive value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "yeast">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="7"/>
                        <xs:maxInclusive value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "sugar">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="7"/>
                        <xs:maxInclusive value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "chars" type = "campCharsType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="aliveBeerIngridientsType">
        <xs:sequence>
            <xs:element name = "water">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "malt">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="250"/>
                        <xs:maxInclusive value="500"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "hop">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="20"/>
                        <xs:maxInclusive value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "yeast">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="7"/>
                        <xs:maxInclusive value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "chars" type = "aliveCharsType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SpillMethodType">
        <xs:sequence>
            <xs:element name = "capacity" type = "xs:positiveInteger"/>
            <xs:element name = "material">
                <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:enumeration value="material1"/>
                        <xs:enumeration value="material2"/>
                        <xs:enumeration value="material3"/>
                     </xs:restriction>
                 </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="darkCharsType">
        <xs:sequence>
            <xs:element name = "revolNumber" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="10"/>
                        <xs:maxInclusive value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "transparency">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="5"/>
                        <xs:maxInclusive value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "filtered" type = "xs:boolean"/>
            <xs:element name = "nutritionalValue" type = "xs:positiveInteger"/>
            <xs:element name = "spillMethod" type = "SpillMethodType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="lightCharsType">
        <xs:sequence>
            <xs:element name = "revolNumber" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="10"/>
                        <xs:maxInclusive value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "transparency">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="5"/>
                        <xs:maxInclusive value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "filtered" type = "xs:boolean"/>
            <xs:element name = "nutritionalValue" type = "xs:positiveInteger"/>
            <xs:element name = "spillMethod" type = "SpillMethodType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="campCharsType">
        <xs:sequence>
            <xs:element name = "revolNumber" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="5"/>
                        <xs:maxInclusive value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "transparency">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="5"/>
                        <xs:maxInclusive value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "filtered" type = "xs:boolean"/>
            <xs:element name = "nutritionalValue" type = "xs:positiveInteger"/>
            <xs:element name = "spillMethod" type = "SpillMethodType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="aliveCharsType">
        <xs:sequence>
            <xs:element name = "revolNumber" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="4"/>
                        <xs:maxInclusive value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "transparency">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="5"/>
                        <xs:maxInclusive value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "filtered" type = "xs:boolean"/>
            <xs:element name = "nutritionalValue" type = "xs:positiveInteger"/>
            <xs:element name = "spillMethod" type = "SpillMethodType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name = "BeerType">
        <xs:sequence>
            <xs:element name = "name">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="id" use="required" type="xs:ID"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name = "type">
                <xs:complexType>
                    <xs:choice minOccurs="1" maxOccurs="1">
                        <xs:element name = "dark" type = "darkBeerIngridientsType"/>
                        <xs:element name = "light" type = "lightBeerIngridientsType"/>
                        <xs:element name = "camp" type = "campBeerIngridientsType"/>
                        <xs:element name = "alive" type = "aliveBeerIngridientsType"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name = "al" type = "xs:boolean"/>
            <xs:element name = "manufacturer" type = "xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>